/*coloração das esferas*/
:root{ 
    --green:#43A633;
    --red:#F55353;
    --yellow:#F2A413;

}


/*fonte dos textos*/
*{
    font-family: 'Nunito', sans-serif;
}

/*margem do header*/
header{
    margin-top: 10px;
}

/*posição e coloração do botão*/
button{
    display: block;
    position: relative;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

/*marcação de hipertexto*/
aside{
    height: 60px;
}

/*tamanho, posição e coloração do botão de perfil*/
button#perfil{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #FF1D5C;
    border-radius: 100%;
    padding-bottom: 5px;
}

/*espaço entre o conteúdo e borda do botão sidebar*/
button#sidebar{
    padding: 0px;
    padding-top: 5px;
}

/*tamanho, posição e coloração da barra*/
.barra{
    background-color: #D9D9D9;
    width: 24px;
    height: 5px;
    display: flex;
    margin: 2px;
    margin-top: 3px;
}

/*tamanho, posição e coloração da barra*/
div#busca {
    background-color:#D9D9D9 ;
    width: 270px;
    height: 26px;
    display: flex;
    margin-left: 40px;
    margin-top: -55px;
    border-radius: 10px;
}

/*tamanho, posição e coloração da busca*/
div#busca input[type="text"] {
    border: transparent;
    background-color: #D9D9D9;
    width: 270px;
  }
  
  /* posição do botão de perfil*/
button#perfil{
    float: right;
    padding: 0px;
    margin-top: -28px

    /* tamanho imagem*/
}
img#circulo{
    width: 36px;
    height: auto;
}

/* tamanho, posição e coloração das turmas*/
#turmas{
    width: 100vw;
    font-size: 18px;
    color: #484848;
    margin-top: 12px;
    margin-bottom: 20px;
    text-align: center;
}

/* tamanho imagem*/
img#lupa{
    width: 30px;
}

/* tamanho, posição e coloração da section*/
section{
    font-size: 17px;
    background-color: #D9D9D9;
    width: 350px;
    height: auto;
    display: flex;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    text-align: center;
}

/* posição dos itens nome, situação e progresso*/
.nome,
.situacao,
.progresso{
    padding-top: 0px;
    padding-bottom: 0px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
}



.row{
    width: 330px;
    text-align: center;
    
}

/* posição, tamanho, e coloração do +*/
.mais{
    color: #FF1D5C; 
    display: inline;
    font-size: 30px;
    height: 30px;
    margin-top: auto;
    padding-bottom: -100px;
    position: relative;
    top: 3px;
    left: 4px;
}

/* tamanho, borda e coloração das esferas*/
.greenBall{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--green);
    display: inline-block;
    
    
}

.redBall{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--red);
    display: inline-block;
    
}

.yellowBall{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--yellow);
    display: inline-block;
    
}

.greenBar{
    width: 70px;
    height: 15px;
    background-color: var(--green);
    display: inline-block;
    
}

.redBar{
    width: 70px;
    height: 15px;
    background-color: var(--red);
    display: inline-block;
    
}

.yellowBar{
    width: 70px;
    height: 15px;
    background-color: var(--yellow);
    display: inline-block;
    
}

/* coloração e tamanho da porcentagem*/
div#porcentagem{
    background-color: #EFEFEF;
    width: 30px;
    
}
