:root{
    --green:#43A633;
    --red:#F55353;
    --yellow:#F2A413;

}


/* Estilos gerais */
*{
    font-family: 'Nunito', sans-serif;
}

/* Estilos do cabeçalho */
header{
    margin-top: 10px;
}

button{
    display: block;
    position: relative;
    border: 0px;                          /* define a cor do botão*/
    background-color: transparent;
    cursor: pointer;
}

/* Estilos da barra lateral */
aside{
    height: 60px;
}

button#perfil{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #FF1D5C;
    border-radius: 100%;
    padding-bottom: 5px;
}

button#sidebar{
    padding: 0px;
    padding-top: 5px;
}

.barra{
    background-color: #D9D9D9;
    width: 24px;
    height: 5px;
    display: flex;
    margin: 2px;
    margin-top: 3px;
}

/* Estilos da barra de busca */
div#busca {
    background-color:#D9D9D9 ;
    width: 270px;
    height: 26px;
    display: flex;
    margin-left: 40px;
    margin-top: -55px;
    border-radius: 10px;
}
div#busca input[type="text"] {
    border: transparent;
    background-color: #D9D9D9;
    width: 270px;
  }
  
button#perfil{
    float: right;
    padding: 0px;
    margin-top: -28px

}
img#circulo{
    width: 36px;
    height: auto;
}

#turmas{
    width: 100vw;
    font-size: 18px;
    color: #484848;
    margin-top: 12px;
    margin-bottom: 20px;
    text-align: center;
}

img#lupa{
    width: 30px;
}
p#nota{
    width: 100vw;
    font-size: 18px;
    color: #484848;
    margin-top: 12px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos da seção */
section{
    font-size: 17px;
    background-color: #D9D9D9;
    width: 400px;
    height: 750px;
    display: flex;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    text-align: center;
}

button.questao{
    color: #000; 
    display: inline;
    font-size: 30px;
    height: 30px;
    margin-top: auto;
    padding-bottom: -100px;
    position: relative;
    top: -2px;
    left: 13px;
}

table#notas{
    border-collapse: collapse; /* Combina as bordas das células */
    width: 100%;
  }

 th, td {
    border: 1px solid #ddd; /* Define uma borda de 1px sólida cinza claro */
    padding: 8px; /* Adiciona um espaçamento interno de 8 pixels */
    text-align: center; /* Alinha o conteúdo à esquerda */
    
  }
  tr.clas{
    height: 30px;
  }
  
  
  .q{
    background-color: #FF1D5C; /* Define uma cor de fundo cinza claro para os cabeçalhos */
    font-weight: bold; /* Define a fonte em negrito para os cabeçalhos */
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 10px;
    border-color: #ddd;

  }
  
  td[contenteditable="true"]{
    width: 35px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    padding:8px;
    border-color: #000;
}

td#total{
    width: 35px;
    height: 20px;
    border-radius: 10px;
    background-color:#ddd;
    padding:8px;
    border-color: #000;
}
.total{
    background-color: white;
}