:root{
    --green:#43A633;
    --red:#F55353;
    --yellow:#F2A413;

}


/* Estilos gerais */
*{
    font-family: 'Nunito', sans-serif;
    margin: 0%;
    padding: 0%;
}


button{
    display: block;
    position: relative;
    border: 0px;                          /* define a cor do botão*/
    background-color: transparent;
    cursor: pointer;
}


/* Estilos da barra lateral */

#perfil{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #FF1D5C;
    border-radius: 100%;

}

button#sidebar{
    padding: 0px;
    padding-top: 5px;
}

.barra{
    background-color: #D9D9D9;
    width: 24px;
    height: 5px;
    display: flex;
    margin: 2px;
    margin-top: 3px;
}

div#busca {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    width: 60%;
    max-width: 400px;
    height: 35px;
    border-radius: 5px;
}
div#busca input[type="text"] {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 5px;
}
input[type="text"]:focus{
    outline-color: #ff1d5dbd;
}

img#circulo{
    width: 36px;
    height: auto;
}

#turmas{
    width: 100vw;
    font-size: 18px;
    color: #484848;
    margin-top: 12px;
    margin-bottom: 20px;
    text-align: center;
}

img#lupa{
    width: 30px;
}
p#nota{
    width: 100vw;
    font-size: 18px;
    color: #484848;
    margin-top: 12px;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilos da seção */
section{
    font-size: 17px;
    background-color: #D9D9D9;
    width: 90vw;
    height: 650px;
    display: flex;
    border-radius: 4px;
    margin-left: 30px;
    margin-right: 30px;
    overflow-y: auto;
    text-align: center;
}

button.questao{
    color: #000; 
    display: inline;
    font-size: 30px;
    height: 30px;
    padding: 12px;
    margin-top: auto;
    padding-bottom: -100px;
    position: relative;
    top: -2px;
}

table#notas{
    border-collapse: collapse; /* Combina as bordas das células */
    width: 100%;
  }

 th{
    border: 1px solid #ddd; /* Define uma borda de 1px sólida cinza claro */
    padding: 12px; /* Adiciona um espaçamento interno de 8 pixels */
    text-align: center; /* Alinha o conteúdo à esquerda */
  }

 

  td{
    border: 1px solid #ddd
  }

  tr.questao{
    height: 30px;
    padding: 13px;
  }
  
  
  .q{
    background-color: #FF1D5C; /* Define uma cor de fundo cinza claro para os cabeçalhos */
    font-weight: bold; /* Define a fonte em negrito para os cabeçalhos */
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 10px;
    border-color: #ddd;

  }
  
  td[contenteditable="true"]{
    width: 35px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    padding:8px;
    border-color: #000;
}

td#total{
    width: 35px;
    height: 20px;
    border-radius: 10px;
    background-color:#ddd;
    padding:8px;
    border-color: #000;
}
td#media{
    width: 35px;
    height: 20px;
    border-radius: 10px;
    background-color:#ddd;
    padding:8px;
    border-color: #000;
}


.navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 1.5rem;
  }