/* fonte utlizada */
* {
  font-family: 'Nunito', sans-serif;
}

.container { /*posicionamento, tamanho e coloração container*/
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
}

.asterisco {
  color: #ff0000;
  /* Cor vermelha para o asterisco */
}

h2 { /*alinhamento*/
  text-align: center;
}

form { /*posicionamento*/
  display: flex;
  flex-direction: column;
}

label { /*posicionamento*/
  margin-bottom: 10px;
}

/*posicionamento, tamanho e coloração dos inputs*/
input[type="email"],
input[type="tel"],
input[type="telefone"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #FF1D5C;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #c1c1c1;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}

/* Estilos para tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    max-width: 70%;
  }
}

/* Estilos para computadores */
@media only screen and (min-width: 1025px) {
  .container {
    max-width: 50%;
  }
}
