*{
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.input-field {
  background-color: #C1C1C1;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
}

.button-enter {
  background-color: #FF1D5C;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 10px;
  float: right;
  margin-right: auto;
}

.container form label {
  display: block;
  margin-bottom: 5px;
}

.links {
  margin-top: 10px;
}

.links a {
  margin-right: 10px;
}

form{
  width: 300px;
}

label{
  margin-left: 12px;
}