/* fonte utlizada */
* {
  font-family: 'Inter', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Define o estilo para o HTML e o corpo da página, definindo a altura como 100% e removendo as margens e preenchimentos */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Define o estilo para o container principal, centralizando o conteúdo verticalmente */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

/* Define o estilo para o logotipo, limitando sua largura a 50% e centralizando horizontalmente */
.logo {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Define o estilo para os campos de entrada, com fundo cinza, sem borda e borda arredondada */
.input-field {
  background-color: #C1C1C1;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
}

/* Define o estilo para o botão de entrar, com fundo rosa, texto branco, sem borda, padding, borda arredondada e posicionamento à direita */
.button-enter {
  background-color: #FF1D5C;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  margin-top: 20px;
  float: right;
  margin-right: auto;
}

/* Define o estilo para os rótulos do formulário, adicionando margem inferior */
.container form label {
  display: block;
  margin-bottom: 5px;
}

/* Define o estilo para os links, ajustando a posição verticalmente e à direita */
.links {
  margin-top: -50px;
  margin-right: 135px;
}

/* Define o estilo para o formulário, definindo a largura como 300px */
form {
  width: 300px;
}

/* Define o estilo para os rótulos, adicionando margem à esquerda */
label {
  margin-left: 8px;
}

/* Estilos específicos para diferentes tamanhos de tela */

/* Estilos para telas menores que 467px, ajustando a largura do logotipo */
@media screen and (max-width: 467px) {
  .logo {
    max-width: 70vw;
  }
}

/* Estilos para telas maiores que 830px, ajustando a largura do logotipo */
@media screen and (min-width: 830px) {
  .logo {
    max-width: 30vw;
  }
}
