button{
    display: block;
    position: relative;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}


div#menu{
    background-color: #D9D9D9;
    width: 20px;
    height: 4px;
    display: flex;
    margin: 2px;
}
div#menu2{
    background-color: #D9D9D9;
    width: 20px;
    height: 4px;
    display: flex;
    margin: 2px;
}
div#menu3{
    background-color: #D9D9D9;
    width: 20px;
    height: 4px;
    display: flex;
    margin: 2px;
}
div#busca {
    background-color:#D9D9D9 ;
    width: 270px;
    height: 16px;
    display: flex;
    margin-left: 40px;
    margin-top: -19px;
}
div#escritaBusca{
    font: Inter;
}
button#perfil{
    margin-left: 320px;
    margin-top: -22px;

}
img#circulo{
    width: 36px;
    height: auto;
}

a#turmas{
    font-size: 140%;
    margin-left: 40px;
}