body {
    font-family: 'Nunito', sans-serif;
    margin: 0%;
    padding: 0%;
}

#menu{
    z-index: 2;
}

#menu_bar{
    width: 30px;
    cursor: pointer;
}

.barra{
    height: 5px;
    background-color: #FF1D5C;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#barra1{
    transform:translateY(-4px);
}

#barra3{
    transform: translateY(4px);
}


.nav {
    transition: 0.3s ease;
    display: none;
    z-index: 3;
    position: relative;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
}

.nav li a:hover{
    font-weight: bold;
    color: #F2A413;
}

.menu_bg{
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background-color: #FF1D5C;
    border-radius: 24%;
    transition: 0.3s ease;
    position: absolute;
    top: 150px;
}

.menu_bg #menu{
    top: 0;
    left: 0;
    position: absolute;
}

.change{
    display: block;
}

.change .barra{
    background-color: #F2A413;
}

.change #barra1{
    transform: translate(4px, 5px) rotateZ(-45deg);
}

.change #barra2{
    opacity: 0;
}

.change #barra3{
    transform: translate(4px, -5px) rotateZ(45deg);
}

.change_bg{
    width: 280px;
    height: 422px;
    transform: translate(-60%, -30%);
}



:root {
    --green: #43A633;
    --red: #F55353;
    --yellow: #F2A413;
    --pink: #FF1D5C;
}



button {
    display: block;
    position: relative;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

aside {
    height: 60px;
}

#perfil {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--pink);
    border-radius: 100%;
}

div#busca {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    width: 50%;
    max-width: 400px;
    height: 30px;
    border-radius: 5px;
}

div#busca input[type="text"] {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 5px;
}

input[type="text"]:focus {
    outline-color: #ff1d5dbd;
}

.navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 1.5rem;
}