:root{
    --green:#43A633;
    --red:#F55353;
    --yellow:#F2A413;
    --pink: #FF1D5C;
}

*{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
header{
    margin-top: 10px;
    overflow-y: hidden;
}
button{
    display: block;
    position: relative;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}
aside{
    height: 60px;
    z-index: 1;
}
#perfil{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--pink);
    border-radius: 100%;
}
.barra{
    background-color: #D9D9D9;
    width: 24px;
    height: 5px;
    display: flex;
    margin: 2px;
    margin-top: 3px;
}
div#busca {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    width: 60%;
    max-width: 400px;
    height: 35px;
    border-radius: 5px;
}
div#busca input[type="text"] {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 4px;
}
input[type="text"]:focus{
    outline-color: #ff1d5dbd;
}
img#circulo{
    width: 36px;
    height: auto;
}
#turmas{
    width: 100vw;
    font-size: 18px;
    color: #484848;
    margin-top: 12px;
    margin-bottom: 35px;
    text-align: center;
}
.mais{
    color: var(--pink);
    display: inline;
    font-size: 30px;
    height: 30px;
    margin-top: auto;
    padding-bottom: -100px;
    position: relative;
    top: 3px;
    left: 4px;
}
.chart-title{
    font-size: 20px;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 10px;
    text-align: center;
}
.chart-container-turma,
.chart-container-habilidades,
.chart-container-defasagens
{
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;;
}
.chart-container-progresso{
    width: 85vw;
    height: 80px;
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    z-index: 1;
}
#porcentagem{
    color: white;
    position: relative;
    margin-bottom: -70px;
    margin-left: 8vw;
    z-index: 2;
}
canvas{
    margin-bottom: 30px;
}
.footerContainer{
    color: #00000089;
    text-align: center;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 95%;
    margin: 0 auto;
    font-size: 10px !important;
    display: block;
  }
  .navegacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 1.5rem;
  }