:root{
    --green:#43A633;
    --red:#F55353;
    --yellow:#F2A413;

}



*{
    font-family: 'Nunito', sans-serif;
}

header{
    margin-top: 10px;
    overflow-y: hidden;
}

button{
    display: block;
    position: relative;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

aside{
    height: 60px;
}

button#perfil{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #FF1D5C;
    border-radius: 100%;
    padding-bottom: 5px;
}

button#sidebar{
    padding: 0px;
    padding-top: 5px;
}

.barra{
    background-color: #D9D9D9;
    width: 24px;
    height: 5px;
    display: flex;
    margin: 2px;
    margin-top: 3px;
}


div#busca {
    background-color:#D9D9D9 ;
    width: 270px;
    height: 26px;
    display: flex;
    margin-left: 40px;
    margin-top: -55px;
    border-radius: 10px;
}
div#busca input[type="text"] {
    border: transparent;
    background-color: #D9D9D9;
    width: 270px;
}

button#perfil{
    float: right;
    padding: 0px;
    margin-top: -28px
    
}
img#circulo{
    width: 36px;
    height: auto;
}

#turmas{
    width: 100vw;
    font-size: 18px;
    color: #484848;
    margin-top: 12px;
    margin-bottom: 10px;
    text-align: center;
}

img#lupa{
    width: 30px;
}



.mais{
    color: #FF1D5C; 
    display: inline;
    font-size: 30px;
    height: 30px;
    margin-top: auto;
    padding-bottom: -100px;
    position: relative;
    top: 3px;
    left: 4px;
}


.chart-container{
    width: 100%;
    height: 300px;
    position: absolute;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;;
}

#grafico_defasagens{
    width: 100px;
}

canvas{
    margin-bottom: 30px;
}

.footerContainer{
    color: #00000089;
    text-align: center;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 95%;
    margin: 0 auto;
    font-size: 10px;
    display: block;
  }
