* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  margin: 1rem auto 0 auto;
}

.headerContainer .infoProf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer .infoProf img {
  width: 50px;
  height: 50px;
  border-radius: 999px;
}

.headerContainer input {
  width: 10rem;
  height: 1.5rem;
  border: 1px solid black;
  text-align: center;
}

.icon {
  font-size: 3rem;
}

.buscarTurma {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buscarTurma select{
  width: 80%;
  margin: 2rem 0 0 0;
  text-align: center;
  height: 2rem;
  border: 1px solid black;
}

.footerContainer{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 10px;
  padding-bottom: 1rem;
  width: 80%;
  margin: 0 auto;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
}

.footerContainer p {
  margin: 0;
}
